.hidden{
    display: none;
}


#clock{
    text-align: right;
}

#quote{
    font-family: 'Gaegu', cursive;
    font-size: 1rem;
    text-align: center;
}

#weather{
    font-family: 'Gaegu', cursive;
    font-size: 1rem;
}
